<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href=".">
            <i class="fas fa-code me-2"></i>CodeJudge
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/pages/problems.html">Problems</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pages/submissions.html">Submissions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pages/leaderboard.html">Leaderboard</a>
                </li>
            </ul>
            <ul class="navbar-nav" id="authNav">
                <!-- Will be populated by JS -->
            </ul>
        </div>
    </div>
</nav>
